body{
    font-size: 16px;
    background-color: #fff;
} 
h1{
    font-family: "Nova Square";
    color: #ff4d4d;
    text-align: center;
    float:left;

}
img{
    float: left;
    margin-left: calc(50vw - ((1.375rem + 3vw)) );
}
.m_div{
    display: inline-block;
    margin:0 auto;
}